h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 46px;
    margin-bottom: 4%;
    
}
.badge{
    margin-left: 20px;
}
.btn{
    border-radius: 60px;
}
.jumbotron{
    padding: 1%;
    margin-top: 15px;
}